@CHARSET "UTF-8";

@import url(xxe-config:docbook/css/docbook.css);

link:after {
    content: set-attribute-button(attribute, linkend, icon, icon(right));
    color: rgb(128,128,196);
}

ulink:after {
    content: icon(external-link);
    color: rgb(128,128,196);
}

ulink[url='???']:after {
    content: icon(external-link), 'Ввести URL!';
    vertical-align: text-top; /* for the icon */
    color: rgb(128,128,196);
    font-size: smaller;
    text-decoration: none;
}

/*-- Customized olinks --*/
olink {
    color: navy;
    text-decoration: underline;
}

olink:after {
    vertical-align: text-top; /* for the icon */
    color: rgb(128,128,196);
    font-size: smaller;
}

olink[targetdoc]:after {
    content: icon(external-link-small), attr(targetdoc);
}

olink[targetdoc][targetptr]:after {
	margin-left: 2px;
	vertical-align: top;
	text-decoration: none;
    content: icon(external-link-small), attr(targetdoc), " " , icon(left-target), attr(targetptr);
}

/*-- style defines the border of profiling element --*/
@property-group profiling-border-style() {
	border: thin dotted rgb(245,122,0);
}

/*-- style defines the border of profiled list elements --*/
/*-- border style itself is derived from the regular profiling border style --*/
@property-group profiling-border-style-elements() {
	property-group: profiling-border-style();
    border-bottom-color: transparent;
    /* border-left-color: transparent; --*/
}

/*-- style defines the labels on profiled elements --*/
@property-group profiling-border-style-labels() {
	property-group: profiling-border-style();
	border-top-color: transparent;
	display: block;
    padding-left: 1ex;
    color: rgb(204,102,0); /*- 204.153.0 204,102,0  -*/
    font-size: smaller;
    margin-top: 0ex;
}

@property-group profiling-border-style-labels-content-userlevel(){
	content: "userlevel  = " , attr(userlevel), "  ", remove-attribute-button(icon, minus, attribute, userlevel, check-required, no);
	}

@property-group profiling-border-style-labels-content-os(){
	content: "os  = " , attr(os), "  ", remove-attribute-button(icon, minus, attribute, os, check-required, no);
	}

@property-group profiling-border-style-labels-content-vendor(){
	content: "vendor  = " , attr(vendor), "  ", remove-attribute-button(icon, minus, attribute, vendor, check-required, no);
	}

@property-group profiling-border-style-labels-content-both(){
	content: "userlevel  = " , attr(userlevel), remove-attribute-button(icon, minus, attribute, userlevel, check-required, no), " ; " "os  = " , attr(os), remove-attribute-button(icon, minus, attribute, os, check-required, no);
	}

*[os], *[userlevel], *[vendor] {
	property-group: profiling-border-style-elements();
    margin-bottom: 0ex;
    /*-- property-group: attr(os)profiling-labels(concatenate(attr-name())); --*/
}

@property-group profiling-background-for-inline-elements()
{
	background-color: #FFE6CC;
}

optional[vendor],
package[vendor]
	{
	property-group: profiling-background-for-inline-elements();
	}

*[userlevel]:after {
    property-group: profiling-border-style-labels();
    property-group: profiling-border-style-labels-content-userlevel();
}

*[vendor]:after {
    property-group: profiling-border-style-labels();
    property-group: profiling-border-style-labels-content-vendor();
}

*[os]:after {
    property-group: profiling-border-style-labels();
    property-group: profiling-border-style-labels-content-os();
}
	
*[userlevel][os]:after {
	property-group: profiling-border-style-labels();
	property-group: profiling-border-style-labels-content-os();
}

orderedlist[userlevel],
itemizedlist[userlevel],
orderedlist[os],
itemizedlist[os],
orderedlist[vendor],
itemizedlist[vendor] {
    property-group: profiling-border-style-elements();
    margin-left: 0ex;
    /* border-left-color: transparent; */
}

@property-group profiling-labels-for-lists() {
	property-group: profiling-border-style-labels();
	}

itemizedlist[userlevel]:after {
	property-group: profiling-labels-for-lists();
    margin-left: 0ex; /* The same value as  shift in itemizedlist > listitem */
    property-group: profiling-border-style-labels-content-userlevel();
}

orderedlist[userlevel]:after,
procedure[userlevel]:after {
	property-group: profiling-labels-for-lists();
    margin-left: 2.5ex; /* The same value as  shift in itemizedlist > listitem */
    property-group: profiling-border-style-labels-content-userlevel();
}

itemizedlist[os]:after {
	property-group: profiling-labels-for-lists();
	property-group: profiling-border-style-labels-content-os();
    margin-left: 0ex;
	}

orderedlist[os]:after,
procedure[os]:after {
	property-group: profiling-labels-for-lists();
	property-group: profiling-border-style-labels-content-os();
    margin-left: 0ex;
	}

itemizedlist[vendor]:after {
	property-group: profiling-labels-for-lists();
	property-group: profiling-border-style-labels-content-vendor();
    margin-left: 0ex;
	}

orderedlist[vendor]:after,
procedure[vendor]:after {
	property-group: profiling-labels-for-lists();
	property-group: profiling-border-style-labels-content-vendor();
    margin-left: 0ex;
	}



listitem[userlevel],
listitem[os],
listitem[vendor],
step[userlevel],
step[os],
step[vendor]
	{
    property-group: profiling-border-style-elements();
	}

listitem[userlevel]:after,
step[userlevel]:after {
    property-group: profiling-labels-for-lists();
    /* padding-left: 1ex; --*/
    property-group: profiling-border-style-labels-content-userlevel();
    margin-left: 2.65ex; /* The same value as shift in itemizedlist > listitem */ 
	}

listitem[vendor]:after,
step[vendor]:after {
    property-group: profiling-labels-for-lists();
    /* padding-left: 1ex; --*/
    property-group: profiling-border-style-labels-content-vendor();
    margin-left: 2.65ex; /* The same value as shift in itemizedlist > listitem */ 
	}

listitem[os]:after,
step[os]:after {
	property-group: profiling-labels-for-lists();
    property-group: profiling-border-style-labels-content-os();
    margin-left: 2.65ex; /* The same value as  shift in itemizedlist > listitem */ 
	}

listitem[userlevel][os]:after,
step[userlevel][os]:after {
	property-group: profiling-labels-for-lists();
    property-group: profiling-border-style-labels-content-both();
    margin-left: 2.65ex; /* The same value as  shift in itemizedlist > listitem */ 
}

orderedlist > listitem[userlevel]:after,
procedure > step[userlevel]:after {
    property-group: profiling-labels-for-lists();
    /* padding-left: 1ex; --*/
    property-group: profiling-border-style-labels-content-userlevel();
    margin-left: 7ex; /* The same value as shift in itemizedlist > listitem */ 
	}

orderedlist > listitem[vendor]:after,
procedure > step[vendor]:after {
    property-group: profiling-labels-for-lists();
    /* padding-left: 1ex; --*/
    property-group: profiling-border-style-labels-content-vendor();
    margin-left: 7ex; /* The same value as shift in itemizedlist > listitem */ 
	}

orderedlist > listitem[os]:after,
procedure > step[os]:after {
	property-group: profiling-labels-for-lists();
    property-group: profiling-border-style-labels-content-os();
    margin-left: 7.1ex; /* The same value as  shift in itemizedlist > listitem */ 
	}

orderedlist > listitem[userlevel][os]:after,
procedure > step[userlevel][os]:after {
	property-group: profiling-labels-for-lists();
    property-group: profiling-border-style-labels-content-both();
    margin-left: 7.1ex; /* The same value as  shift in itemizedlist > listitem */ 
}


textobject {
	border: thin dotted green;
	display: block;
	text-align: left; /* Reset paragraph styles */
}

/* -- To Be fixed --*/
section > title:after {
	display: inline;
	content: value-editor(attribute, attribute(id));
	font-size: small;
	}

/* -- Article info --*/

articleinfo {
	background-color: #E0FFFF;
	collapsible: yes;
	collapsed: no;
}

articleinfo:before {
	display: block;
	font: normal normal small sans-serif;
	color: #004080;
	background-color: transparent;
	content: collapser(collapsed-icon, icon(collapsed-right), expanded-icon, icon(expanded-down)), "Выходные данные документа ", collapser(collapsed-icon, icon(collapsed-right), expanded-icon, icon(expanded-down));
}


@property-group articleinfo-items() {
	display: block;
    text-align: left; /* Reset paragraph styles */
    font: normal normal 1em sans-serif;
    color: black;
    margin-left: 35ex;
    margin-right: 0;
    margin-top: 1.33ex;
    margin-bottom: 1.33ex;
    background-color: transparent;
}

articleinfo > productname,
articleinfo > productnumber,
articleinfo > subtitle {
	property-group: articleinfo-items();
	}

articleinfo > subtitle > #text {
	background-color: red;
	}

articleinfo > productname:before	{
	content: "Название продукта", " [", element-name(),"]: ";
	}

articleinfo > productnumber:before	{
	content: "Версия продукта", " [", element-name(),"]: ";
	}

articleinfo > subtitle:before	{
	content: "Тип документа", " [", element-name(),"]: ";
	}

/* -- Revision history --*/

procedure,
itemizedlist,
orderedlist	{
	collapsible: yes;
	collapsed: no;
}

@property-group collapsible-info-blocks(info-color,entry-margin-left) {
	display: block;
	font: normal normal small sans-serif;
	color: info-color;
	margin-left: entry-margin-left;
	margin-bottom: 0ex;
	background-color: transparent;
	}

/*-- applied only to the first (top level) lists in section --*/
section > itemizedlist:before {
	property-group: collapsible-info-blocks(#CFCFCF,2.5ex);
	content: "[", element-name(), "]", collapser(collapsed-icon, icon(pop-right), expanded-icon, icon(pop-down));
	/*-- default values; derived from main docbook2.imp --*/
	margin-left: 2.5ex; /* all lists are slightly indented */
	}

section > procedure:before,
section > orderedlist:before	{
	property-group: collapsible-info-blocks(#CFCFCF,6.5ex);
	content: "[", element-name(), "]", collapser(collapsed-icon, icon(pop-right), expanded-icon, icon(pop-down));
	margin-left: 2.5ex;
	}

note, caution,
important, tip,
warning {
	collapsible: yes;
	collapsed: no;
	} 

/*-- derived from main docbook2.imp --*/
note:before,
caution:before,
important:before,
tip:before,
warning:before {
    display: marker; 
    content: element-label(), "  ", collapser(collapsed-icon, icon(pop-right), expanded-icon, icon(pop-down));
    font-weight: normal;
    font-size: small; 
    color: #004080;
}

/*-- articleinfo revhistory styling,... --*/
/*-- ... derived from xmlmind forum: http://www.mail-archive.com/xmleditor-support@xmlmind.com/msg02055.html --*/
	
revhistory {
    display: table;
    border-style: solid;
    border-width: 1;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25ex;
    margin-bottom: 1.33ex;
}

articleinfo > revhistory:before {
    display: table-row;
    content: rows(row(cell("Список изменений документа"), column-span, 6),
                  row(cell("Версия документа"), 
                      cell("Дата изменения"), 
                      cell("Имя автора"), 
                      cell("Фамилия автора"),
                      cell("Описание изменения", column-span, 2)),
                 border-style, solid,
                 border-width, 1,
                 border-top-color, black,
                 border-bottom-color, black,
                 border-left-color, black,
                 border-right-color, black,
                 font-weight, normal,
                 font-size, normal,
                 color, #004080,
                 background-color, #E0E0E0,
	         padding-top, 2,
	         padding-bottom, 2,
	         padding-left, 2,
	         padding-right, 2);
    margin-top: 1.33ex;
}

revhistory:before {
    display: table-row;
    content: rows(row(cell("Список изменений"), column-span, 6),
                  row(cell("Версия"), 
                      cell("Дата изменения"), 
                      cell("Имя автора"), 
                      cell("Фамилия автора"),
                      cell("Описание изменения", column-span, 2)),
                 border-style, solid,
                 border-width, 1,
                 border-top-color, black,
                 border-bottom-color, black,
                 border-left-color, black,
                 border-right-color, black,
                 font-weight, normal,
                 font-size, normal,
                 color, #004080,
                 background-color, #E0E0E0,
	         padding-top, 2,
	         padding-bottom, 2,
	         padding-left, 2,
	         padding-right, 2);
    margin-top: 1.33ex;
}

revision:before { 
    content: "";
}

revision {
    display: table-row;
}

revnumber, 
revision > date, 
revision > authorinitials,
revision > author > firstname,
revision > author > surname,
revremark, 
revdescription {
    display: table-cell;
    border-style: solid;
    border-width: 1;
    font-weight: normal;
    padding: 2; 
}

revremark, 
revdescription {
    column-span: 2;
}

revnumber:after, 
revision > date:after,
revision > author > firstname:after,
revision > author > surname:after,
revision > author:after,
revision > authorinitials:after {
    content: "";
}

phrase[revisionflag=deleted] {
    text-decoration: line-through;
    color: gray;
}

phrase[revisionflag=added] {
    text-decoration: underline;
    color: red;
}